@import "mixins";

.component {
  @include flex(space-between);
}

.main {
  @include flex(flex-start);
}

.type {
  color: $brown;
  text-transform: capitalize;
}

.hash {
  @include flex;
  color: $slate;
  margin-left: 5px;
}

.footer {
  @include flex;

  color: $slate;
  font-size: 12px;
  font-weight: 500;

  i {
    margin-right: 5px;
  }
}
